<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jyoonie's mini dictionary</title>
    <meta property="og:title" content="jyoonie's mini dictionary"/>
    <meta property="og:description" content="정윤이의 미니 영어사전"/>
    <meta property="og:image" content="{{ url_for('static', filename='jyooniedic.jpeg') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7c8fefeaa.js" crossorigin="anonymous"></script>
    
    <style>
        .container {
            width: 80%;
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;

            border: solid 1px gray;
            border-radius: 10px;
        }

        span.example {
            color: gray;
            font-size: 14px;
            padding-left: 20px;
        }

        .btn-sparta {
            color: #fff;
            background-color: #e8344e;
            border-color: #e8344e;
        }

        .btn-outline-sparta {
            color: #e8344e;
            background-color: transparent;
            background-image: none;
            border-color: #e8344e;
        }

        ul {
            list-style-position: outside; 
            margin: 10px;
            padding-left: 10px;
          }
    </style>
    <script>
        let word = '{{ word }}'
        $(document).ready(function () {
            //get_definitions()
            get_examples()
        })

        function get_definitions() {
            $.ajax({
                type: "GET",
                url: `https://www.dictionaryapi.com/api/v3/references/spanish/json/${word}?key=84c2e134-b89b-44b9-bdb5-597521f39ecd`,
                data: {},
                error: function (status, error) {
                    alert("에러 발생!");
                },
                success: function (response) {
                    console.log(response)
                    for (let i = 0; i < response.length; i++) {
                        let resp = response[i]

                        let length = word.length
                        let wordname = response[0]["meta"]["id"].substring(0, length) //substring 힘수 구글링해봤음 ㅋ
                        console.log(wordname)

                        if (resp["meta"]["id"] == '{{ word }}') {
                            $("#word").text(word)
                            $("#pronunciation").text(`/${response[0]["hwi"]["hw"]}/`)

                            let type = resp["fl"]
                            if (type == response[0].fl ) {
                                $("#definitions").append(`<strong><em>${type}</em></strong></br>`)
                            } else {
                                $("#definitions").append(`<br><strong><em>${type}</em></strong></br>`)
                            }

                            let definitions = resp["shortdef"]
                            for (let j = 0; j < definitions.length; j++) {
                                let definition = definitions[j]
                                let html_temp = `<h8>${definition};&nbsp<h8>`
                                $("#definitions").append(html_temp)
                        }
                 
                        $("#definitions").append(`</br></br>`)

                        // example은 지금은 무시. json이 ㅈ같이 돼있음 ㅋ
                        }
                    }
                }
            })
        }

        function save_word() {
            $.ajax({
                type: "POST",
                url: `/api/save_word`,
                data: {
                    word_give: "{{ word }}",
                    definition_give: '{{ results[0].shortdef[0] }}'
                },
                success: function (response) {
                   alert(response["msg"])
                   window.location.href = "/detail/{{ word }}?status_give=old" //이 url을 다시 띄우면 @app.route('/detail/<keyword>')의 def detail(keyword) 함수를 거쳐서 status_receive 값으로 old를 전달받고 이에 띠리 식제버튼이 포함된 html을 띄워주게 되는것임. 오오오 즉 어떤 버튼을 누르면 이 url이 이렇게 뜨게끔 내가 여기서 이 명령어로 시키는거네. 역시. 하.. 버튼을 누르면 url이 자동으로 바뀌는 이유가 여기에 있었어..
                }
            });
        }

        function delete_word() {
            $.ajax({
                type: "POST",
                url: `/api/delete_word`,
                data: {
                    word_give: "{{ word }}"
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = ("/")
                }
            });
        }

        function get_examples() {
            $("#example-list").empty()
            $.ajax({
                type: "GET",
                url: `/api/get_exs?word_give=${word}`,
                data: {},
                success: function (response) {
                    console.log(response)

                    let examples = response["examples"]  //이 부분을 이때까지 놓쳐서 씨바 ㅠㅠㅠㅠㅠ 화면이 안나왔던거임..
                    for (let i = 0; i < examples.length; i++) {
                        let ex = examples[i]["example"]

                        let html_temp = `<li id="ex-${i}">${ex}&nbsp;&nbsp;&nbsp;<a
                                            href="javascript:delete_ex(${i})">delete</a></li>`
                        $("#example-list").append(html_temp)
                    }
                }
            });
        }
        
        function add_ex() {
            let new_ex = $('#new-example').val();
            console.log(new_ex)

            if (new_ex.includes(word) == false) {
                alert("단어가 포함된 예문을 작성해주세요")
                return
            } 

            $.ajax({
                type: "POST",
                url: `/api/save_ex`,
                data: {
                    word_give: word,
                    ex_give: new_ex
                },
                success: function (response) {
                    console.log(response)
                    alert(response["msg"])
                    $('#new-example').val(""); //이거 넘 잘했 ㅠㅠ
                    get_examples()
                }
            });
        }
        
        function delete_ex(i) {
            console.log("deleting", i)
            $.ajax({
                type: "POST",
                url: `/api/delete_ex`,
                data: {
                    word_give: word,
                    number_give: i
                },
                success: function (response) {
                    alert(response["msg"])
                    get_examples()
                }
            });
        }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="banner" onclick="window.location.href = '/'">
        </div>
        <div class="container">
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    {% set length = word|length %}
                    {% set wordname = results[0].meta.id[0:length] %}
                    
                    <h1 id="word" style="display: inline;">{{ wordname }}</h1>
                        {% if results[0]["hwi"]["hw"] != "" %}
                            <h5 id="pronunciation" style="display: inline;">&nbsp;/{{ results[0]["hwi"]["hw"] }}/</h5>
                        {% else %}
                            <h5 id="pronunciation" style="display: inline;">{{ "" }}</h5>
                        {% endif %}
                </div>
                    {% if status=="new" %}
                    <button id="btn-save" class="btn btn-outline-sparta btn-lg" onclick="save_word()">
                        <i class="fa-regular fa-floppy-disk"></i>
                    </button>
                    {% else %}
                    <button id="btn-delete" class="btn btn-sparta btn-lg" onclick="delete_word()">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    {% endif %}
            </div>

            {% for result in results %}
                {% if result.meta.id[0:length] == wordname %} <!-- 이거 처음에 저 0:length 이부분 안해줘서 결과값이 espanol:1, espanol:2... 이런식으로 나온 애들은 espanol이랑 다르니까 하나도 안나오는 문제 해결! -->
                <hr>
                <div id="definitions" style="padding-left:10px; padding-top:-5px">
                    {% if results[0].fl %}
                            <strong><em>{{ result.fl }}</em></strong></br> <!-- results[0].fl로 실수함;; 밑에도;; -->
                    {% else %}
                            <br><strong><em>{{ result.fl }}</em></strong></br>
                    {% endif %}
                    {% if result.shortdef %} <!-- shortdef 빈 리스트일때 오류뜨는 문제 해결! 첨엔 result.shortdef !=[]이라고 했는데 그냥 저렇게만 쳐도 되는듯~ -->
                        {% for def in result.shortdef %}
                            <h8>{{ def }};&nbsp<h8>
                            <!-- </br></br> -->
                        {% endfor %}
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            {% if status=="old" %}
            <div id="examples" class="container">
                <h3 style="text-align: center;margin-bottom:1rem">Write your own sentences!</h3>
                <ul id="example-list">

                </ul>
                <div class="d-flex justify-content-between" style="margin-left:20px;">
                    <input id="new-example" class="form-control form-control-sm" style="margin-right: 0.5rem">
                    <button class="btn btn-outline-secondary btn-sm" onclick="add_ex()">add</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>