<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jyoonie's mini dictionary</title>
    <meta property="og:title" content="jyoonie's mini dictionary"/>
    <meta property="og:description" content="정윤이의 미니 영어사전"/>
    <meta property="og:image" content="{{ url_for('static', filename='jyooniedic.jpeg') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7c8fefeaa.js" crossorigin="anonymous"></script>
    
    <style>
        .container {
            width: 80%;
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;

            border: solid 1px gray;
            border-radius: 10px;
        }

        span.example {
            color: gray;
            font-size: 14px;
            padding-left: 20px;
        }

        .btn-sparta {
            color: #fff;
            background-color: #e8344e;
            border-color: #e8344e;
        }

        .btn-outline-sparta {
            color: #e8344e;
            background-color: transparent;
            background-image: none;
            border-color: #e8344e;
        }

        ul {
            list-style-position: outside; 
            margin: 10px;
            padding-left: 10px;
          }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="banner" onclick="window.location.href = '/'">
        </div>
        <div class="container">
            <div class="d-flex justify-content-between align-items-end">
                <div>
                    <!-- joyaria 검색했더니 results 안 result가 딕셔너리가 아니라 스트링으로 와서 meta고 shortdef고 접근할 수 없는 에러가 있었음. 그래서 바로 밑에 78번째 줄이랑 107, 124번째 줄 바꿈. -->
                    {% if results[0] is mapping and results[0] is not string %}
                        {% set length = word|length %}
                        {% set wordname = results[0].meta.id[0:length] %}
                        
                        <h1 id="word" style="display: inline;">{{ wordname }}</h1>
                            {% if results[0]["hwi"]["hw"] != "" %}
                                <h5 id="pronunciation" style="display: inline;">&nbsp;/{{ results[0]["hwi"]["hw"] }}/</h5>
                            {% else %}
                                <h5 id="pronunciation" style="display: inline;">{{ "" }}</h5>
                            {% endif %}
                    </div>
                        {% if status=="new" %}
                        <button id="btn-save" class="btn btn-outline-sparta btn-lg" onclick="save_word()">
                            <i class="fa-regular fa-floppy-disk"></i>
                        </button>
                        {% else %}
                        <button id="btn-delete" class="btn btn-sparta btn-lg" onclick="delete_word()">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        {% endif %}
                    {% else %}
                        <h1>sorry! we currently does not have the definition for {{ word }}</h1>
                    {% endif %}
            </div>
            <!-- 103-105번째 줄 해버리면 sorry! we currently does not have the definition for {{ word }} 이부분 두 번 나옴.. -->
            <!-- {% if results[0] is string %}
                <h1>sorry! we currently does not have the definition for {{ word }}</h1>
            {% endif %} --> 
            {% for result in results %}
                {% if result is mapping and result is not string%}
                    {% if result.meta.id[0:length] == wordname %} <!-- 이거 처음에 저 0:length 이부분 안해줘서 결과값이 espanol:1, espanol:2... 이런식으로 나온 애들은 espanol이랑 다르니까 하나도 안나오는 문제 해결! -->
                    <hr>
                    <div id="definitions" style="padding-left:10px; padding-top:-5px">
                        {% if results[0].fl %}
                                <strong><em>{{ result.fl }}</em></strong></br> <!-- results[0].fl로 실수함;; 밑에도;; -->
                        {% else %}
                                <br><strong><em>{{ result.fl }}</em></strong></br>
                        {% endif %}
                        {% if result.shortdef %} <!-- shortdef 빈 리스트일때 오류뜨는 문제 해결! 첨엔 result.shortdef !=[]이라고 했는데 그냥 저렇게만 쳐도 되는듯~ -->
                            {% for def in result.shortdef %}
                                <h8>{{ def }};&nbsp<h8>
                                <!-- </br></br> -->
                            {% endfor %}
                        {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            {% if status=="old" %}
            <div id="examples" class="container">
                <h3 style="text-align: center;margin-bottom:1rem">Write your own sentences!</h3>
                <ul id="example-list">

                </ul>
                <div class="d-flex justify-content-between" style="margin-left:20px;">
                    <input id="new-example" class="form-control form-control-sm" style="margin-right: 0.5rem">
                    <button class="btn btn-outline-secondary btn-sm" onclick="add_ex()">add</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>